html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background: #f0f0f0; }

html, body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased; }

b, strong {
  font-weight: bold; }

header {
  height: 50px;
  border: 1px solid black;
  background: #000;
  color: #fff; }

.header-left {
  padding: 0 0 0 10px; }

.date-selector {
  margin: 15px 0 0 0; }

.sidebar {
  width: 15%;
  min-height: 500px;
  float: left;
  border-right: 1px solid black; }

.movie-list {
  padding: 20px 0 0 0; }

.movie-item {
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black; }
  .movie-item__options {
    margin: 5px 0 0; }

.movie, .showtime {
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  border: 1px solid black;
  font-size: 14px;
  cursor: move;
  position: relative; }
  .movie:after, .showtime:after {
    content: '>';
    display: block;
    position: absolute;
    top: 0;
    right: 5px; }
  .movie__duration, .showtime__duration {
    display: inline;
    width: 40px; }
  .movie-list .movie, .movie-list .showtime {
    width: 100%; }

.content {
  float: left;
  width: 85%; }

.halls {
  width: 100px;
  padding: 20px 0 0;
  float: left; }
  .halls__item {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black; }

.showtimes {
  margin: 0 0 0 100px;
  overflow-x: scroll; }

.times {
  height: 20px;
  font-size: 0;
  white-space: nowrap; }
  .times__hour {
    width: 120px;
    height: 20px;
    display: inline-block;
    font-size: 12px;
    background: url(../img/times__hour.gif) no-repeat; }

.dropzone {
  height: 40px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  border: 1px solid black; }
  .dropzone-mod_active {
    background: #b1c4ce url(../img/dropzone.gif) repeat-x; }
  .dropzone .showtime {
    line-height: normal; }
    .dropzone .showtime:after {
      display: none; }

.showtime-container {
  background: rgba(63, 107, 135, 0.9);
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .showtime-container .showtime {
    float: left;
    padding: 0;
    border: 0; }
    .showtime-container .showtime b {
      position: absolute;
      top: 3px;
      left: 3px; }
    .showtime-container .showtime s {
      position: absolute;
      bottom: 3px;
      left: 3px;
      text-decoration: none; }
    .showtime-container .showtime i {
      position: absolute;
      bottom: 3px;
      right: 3px; }
  .showtime-container .break {
    background: rgba(236, 240, 243, 0.9);
    color: #000;
    border-left: 1px solid black;
    float: left;
    height: 40px;
    line-height: 56px;
    font-size: 12px;
    cursor: ew-resize;
    text-align: center; }

/*# sourceMappingURL=app.css.map */
